<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>Secured Content</title>
</head>
<body>
	<div layout:fragment="content">
		<script>
			$(document).ready(function(){
				$("#submit").click(function(){
					$("#submit").prop("disabled",true);
				
                    var url = $("#arigatoForm").attr("action");
                    var method = $("#arigatoForm").attr("method");
                    var data = $("#arigatoForm").serialize();
					$.ajax({
						url: url,
						type:method,
						data:data
					})
					.done(function(data, status, xhr){
						$('#result').text("ご登録ありがとうございました!");
						$('.error').each(function(){
							$(this).text("");
						});
					})
					.fail(function( data, status, xhr){
						var error = eval("(" 	+ data.responseText + ")");
						if(error.message.indexOf("Validation failed") == 0){
							$('#result').text("");
							$('#errors').text("入力エラーがあります。ご確認ください");
							$.each(error.errors,function(){
								$('#'+this.field+'_error').text(this.defaultMessage);
							});
						}else{
							alert("fail" + data.responseText);
						}
						$("#submit").prop("disabled",false);
					})
				});
			});
		</script>
		<div id="result"></div>
		<div id="errors" class="error"></div>
		<form id="arigatoForm" method="post" th:action="@{/rest/arigato}">
			<table>
			<tr><td>件名</td><td><input type="text" id="fromUserId" name="fromUserId" /><span id="fromUserId_error" class="error" /></td></tr>
			<tr><td>感謝してる人</td><td><input type="text" id="toUserId" name="toUserId" /><span id="toUserId_error" class="error" /></td></tr>
			<tr><td>だれにありがとう？</td><td><input type="text" id="subject" name="subject" /><span id="subject_error" class="error" /></td></tr>
			<tr><td>感謝のことば</td><td><input type="text" id="message" name="message" /><span id="message_error" class="error" /></td></tr>
			<tr><td></td><td><input type="button" id="submit" value="click" /></td></tr> 
			</table>
		</form>
	</div>
</body>
</html>