<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>Secured Content</title>
</head>
<body>
	<div layout:fragment="content">
		<form id="arigatoCreateForm" method="put" th:action="@{/rest/arigato}">
			<input type="text" id="fromUserId" name="fromUserId" />
			<input type="text" id="toUserId" name="toUserId" />
			<input type="text" id="subject" name="subject" />
			<input type="text" id="message" name="message" />
			<input type="submit" id="submit" value="click" /> 
		</form>
	</div>
</body>
</html>