<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>friendpage</title>
	<style type="text/css">
<!--
	ul{
		list-style: none;
		margin: 10px;
	}
		
	ul li{
		float: left;
		height: 20px;
		margin: 0px 0px 0px 10px;
		padding: 10px 15px 5px 15px;
		border: 1px #ddd solid;
		border-radius: 25px 25px 0px 0px / 25px 25px 0px 0px;
		background-color: #eff;	
	}

	ul li.selected{
		text-decoration: none;
		color: #000;
		background-color: #fff;
		border-bottom: 1px #fff solid;
		pointer-events: none;
	}
	
	#friendface{
		float: left;
		width: 130px;
	}
	
	#friendlist{
		float: right;
		width: 550px;
	}
	
	#tabmenu{
		clear: both;
		width: 680px;
	}
	
	#line{
		position: relative;
		top: 36px;
		z-index: -1;

		border: none;
		border-top: 1px #ddd solid;
	}

	#tabcontent{			
		clear: left;
		margin: 0px 10px 10px 10px;
		padding: 10px;
	}
-->
	</style>
</head>
<body>
	<div layout:fragment="content">	
		<script>
			var viewModel = new AppViewModel()
			var myviewModel = new myViewModel()		//ログイン者の友人取得
			var friendviewModel = new friendViewModel()		//選択された友人の友人取得
			
			$(document).ready(function(){
				$("#text_2").hide(); //初期では非表示

				$("ul").on("click","li",function(){
					$("li.selected").removeClass("selected");
					$(this).addClass("selected");
					myID = this.id.split("_")[1];
					$("#tabcontent > div").hide();
					$("#text_" + myID).show();
				})
					
				//第2引数で適用する範囲をそれぞれ指定
				ko.applyBindings(myviewModel,document.getElementById("friendface"));
				ko.applyBindings(friendviewModel,document.getElementById("friendlist"));
				ko.applyBindings(viewModel,document.getElementById("tabcontent"));

//				window.onload = function(){
//					var checkviewModel = {
//						if($("#friendpage").val()==$("#friendname").val()){
//							isMeCheck = true;
//						}else{
//							isMeCheck = false;
//						}
//					};
//					ko.applyBindings(checkviewModel);
//				};
				
				//console.log($("#friendpage").val());		//選択された友人のnameをconsoleで確認
				
				var url = "/rest/user/"+$("#currentUser").val()+"/friend";		//ログイン者の友人一覧

				get(url,'',function(data){
					myviewModel.myfriends(data)
					
					$.map(data,function(value,index){		//dataで受け取ったobjectを配列に
						if(value.name==$("#friendpage").val()){		//選択された友人なら
							var currentFriend = value.email;		//currentFriendにその友人のemailを設定
							var url = "/rest/user/"+currentFriend+"/friend";	//選択された友人友人一覧
							//document.getElementById("currentFriend").value=currentFriend;
							
							get(url,'',function(data){
								friendviewModel.friendfriends(data)
									$(".icon").each(function(){
									$(this).mouseover(function(){
										$(this).css('background-color','#fad0d0')
									})
									$(this).mouseout(function(){
										$(this).css('background-color','#ffffff')
									})
								})
							})
						}
					});
				})

				var url = $("#arigatoForm").attr("action");

				get(url,'',function(data){
					viewModel.arigatos(data)
				})

				url = $("#arigatoForm").attr("action");
				data = $("#writtenByMeForm").serialize();

				get(url,data,function(data){
					viewModel.writtenByMe(data)

					$(".delete").on({
						mouseover : function(){
							$(this).css('cursor','pointer');
						},
						click : function(){
							var url = $("#deleteForm").attr("action");
							var $deleteButton = $(this)
							url = url + "/" +$(".id",$deleteButton.parent()).val() +"/";
							data = $("#deleteForm").serialize();
							delete_(url,data,function(){
								$deleteButton.parents("table").remove();
							})
						}
					})
					
					$(".edit").on({
						mouseover : function(){
							$(this).css('cursor','pointer')
						},
						click : function(){
							var url = $("#updateForm").attr("action");
							var $editButton = $(this) 
							url = url + "/" +$(".id",$editButton.parent()).val() +"/";
							location.href=url
						}
					})
				})
				
				url = $("#arigatoForm").attr("action");
				data = $("#readByMeForm").serialize();

				get(url,data,function(data){
					viewModel.readByMe(data)				
				})
			});
			
			function get(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"get",
					data: data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}
			
			function delete_(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"DELETE",
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('#deleteForm input[name="_csrf"]').attr('value'))},
					data: data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}

			function AppViewModel() {
			    var self = this;
			    
			    // Editable data
			    self.arigatos = ko.observableArray([]);
			    self.writtenByMe = ko.observableArray([]);
   			    self.readByMe = ko.observableArray([]); 
			}
			function myViewModel(){
				var self = this;
				self.myfriends = ko.observableArray([]);
			}
			function friendViewModel(){
				var self = this;
				self.friendfriends = ko.observableArray([]);
			}

			
//			console.log(document.getElementById("friendname").toString());
//			$.map($(document.getElementById("friendname").valueOf()),function(value,index){
//				console.log(value);				
//			});
			
			
		</script>

<!-- 選択された友人のnameを受け取り -->
		<input type="hidden" id="friendpage" th:value="${friendName}" />

<!--		<input type="hidden" id="currentFriend" /> 		-->
		
<!-- 選択された友人のアイコンを表示 -->
		<div id="friendface" data-bind="foreach: myfriends">
			<span>
				<img data-bind="attr:{src: image.url}" style="max-height:5em" class="pull-left"></img><br />
				<p data-bind="text: name" />
			</span>
		</div>


<!-- 選択された友人の友人一覧を表示 -->
		<div id="friendlist">
			<table>
			<p th:text="${friendName}+の友達" />
				<tr data-bind="foreach: friendfriends">
					<td class="icon">
				<!--	<input type="hidden" id="friendname" data-bind="attr:{value: name}" />		-->
						<img data-bind="attr:{src: image.url}" style="max-height:3em"></img><br />
						<span data-bind="text: name" />
						<input type="hidden" class="email" data-bind="attr:{value: email}" />
					</td>
				</tr>
			</table>
		</div>
		

		
		<div id="tabmenu">
			<ul>
				<li id="tab_1" class="selected"><a href="#writtenByMe">あなたへのメッセージ</a></li>
				<li id="tab_2"><a href="#readByMe">あなたからのメッセージ</a></li>
			</ul>
		</div>

		<div id="line"></div>	<!-- 調整用 -->

		<div id="tabcontent">
			<div id="text_1">
				<div data-bind="foreach: writtenByMe">
					<table>
						<tr>
							<td>
								<img th:src="@{/resources/img/trash.png}" style="max-height:3em" alt="削除" class="delete"></img>
								<img th:src="@{/resources/img/edit.png}" style="max-height:3em" alt="編集" class="edit"></img>
									<input type="hidden" class="id" data-bind="attr:{value:id}" />
							</td>
							<td>
								<table>
									<tr>
										<td><img data-bind="attr:{src: fromUser.image.url}" style="max-height:2em" ></img><br /><span data-bind="text: fromUser.name"></span></td>
										<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
										<td><img data-bind="attr:{src: toUser.image.url}" style="max-height:2em" ></img><br /><span data-bind="text: toUser.name"></span></td>
									</tr>
								</table>
								<p>【<span class="subject" data-bind="text: subject"></span>】</p>
								<p>&nbsp;&nbsp;<span data-bind="text: contents"></span></p>
								<div data-bind="foreach: images">
									<img data-bind="attr:{src: url}" style="max-height:320px" ></img>
								</div>
								<p> (<span class="formattedCreated" data-bind="text: formattedCreated"></span>) </p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<hr />
							</td>
						</tr>
					</table>
				</div> 
			</div> 

			<div id="text_2">
				<div data-bind="foreach: readByMe">
					<table>
						<tr>
							<td>
								<table>
									<tr>
										<td><img data-bind="attr:{src: fromUser.image.url}" style="max-height:2em" ></img><br /><span data-bind="text: fromUser.name"></span></td>
										<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
										<td><img data-bind="attr:{src: toUser.image.url}" style="max-height:2em" ></img><br /><span data-bind="text: toUser.name"></span></td>
									</tr>
								</table>
								<p>【<span class="subject" data-bind="text: subject"></span>】</p>
								<p>&nbsp;&nbsp;<span data-bind="text: contents"></span></p>
								<div data-bind="foreach: images">
									<img data-bind="attr:{src: url}" style="max-height:320px" ></img>
								</div>
								<p> (<span class="formattedCreated" data-bind="text: formattedCreated"></span>) </p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<hr />
							</td>
						</tr>
					</table>
				</div> 
			</div> 
		</div>

		<form id="arigatoForm" th:action="@{/rest/arigato}" />
		<form id="writtenByMeForm" th:action="@{/rest/arigato}">
			<input type="hidden" name="type" value="wrote" />
		</form>
		<form id="arigatoForm" th:action="@{/rest/arigato}" />
		<form id="readByMeForm" th:action="@{/rest/arigato}">
			<input type="hidden" name="type" value="mine" />
		</form>
		<form id="updateForm" th:action="@{/update}" />
		<form id="deleteForm" th:action="@{/rest/arigato}" />
	</div>
</body>
</html>