<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>friendpage</title>
	<style type="text/css">
<!--
	ul{
		list-style: none;
		margin: 10px;
	}
		
	ul li{
		float: left;
		height: 20px;
		margin: 0px 0px 0px 10px;
		padding: 10px 15px 5px 15px;
		border: 1px #ddd solid;
		border-radius: 25px 25px 0px 0px / 25px 25px 0px 0px;
		background-color: #eff;	
	}
	ul li.selected{
		text-decoration: none;
		color: #000;
		background-color: #fff;
		border-bottom: 1px #fff solid;
		pointer-events: none;
	}
	
	#friendface{
		float: left;
		width: 130px;
	}
	
	#friendlist{
		float: right;
		width: 550px;
	}
	
	#tabmenu{
		clear: both;
		width: 680px;
	}
	
	#line{
		position: relative;
		top: 36px;
		z-index: -1;
		border: none;
		border-top: 1px #ddd solid;
	}
	#tabcontent{			
		clear: left;
		margin: 0px 10px 10px 10px;
		padding: 10px;
	}
-->
	</style>
</head>
<body>
	<div layout:fragment="content">	
		<script>
			var viewModel = new AppViewModel()
			var myviewModel = new myViewModel()		//ログイン者の友人取得
			var friendviewModel = new friendViewModel()		//選択された友人の友人取得
			
			$(document).ready(function(){
				$("#text_2").hide(); //初期では非表示
			
				$("ul").on("click","li",function(){
					$("li.selected").removeClass("selected");
					$(this).addClass("selected");
					myID = this.id.split("_")[1];
					$("#tabcontent > div").hide();
					$("#text_" + myID).show();
				})
					
				//第2引数で適用する範囲をそれぞれ指定
				ko.applyBindings(myviewModel,document.getElementById("friendface"));
				ko.applyBindings(friendviewModel,document.getElementById("friendlist"));
				ko.applyBindings(viewModel,document.getElementById("tabcontent"));
				
				var url = "/rest/user/"+$("#currentUser").val()+"/friend";		//ログイン者の友人一覧
				get(url,'',function(data){
					$.map(data,function(value,index){
						if(value.name==$("#friendpage").val()){		//選択された友人なら
							var currentFriend = value.email;		//currentFriendにその友人のemailを設定
							url = "/rest/user/"+currentFriend+"/friend";	//選択された友人の友人一覧
							var my = data.slice(index,index+1);	//data1より配列を抽出
							myviewModel.myfriends(my)	//新しい配列で定義
							
							get(url,'',function(data){
								var friends = new Array();
								$.map(data,function(value,index){
									if(value.name != $("#friendpage").val()){
										var friend1 = data.slice(index,index+1);	//data2より配列を抽出
										var friend2 = friends.concat(friend1);	//配列を結合
										friends = friend2;
									}
									friendviewModel.friendfriends(friends)	//新しい配列で定義
									
									$(".face").each(function(){
										$(this).mouseover(function(){
											$(this).css('background-color','#fad0d0')
										})
										$(this).mouseout(function(){
											$(this).css('background-color','#ffffff')
										})
									})
								})
							})
							
							url = $("#arigatoForm").attr("action");
							data = $("#writtenByMeForm").serialize();
							
							get(url,data,function(data){
								var messages = new Array();
								$.map(data,function(value,index){
									if(value.toUser.email == currentFriend){	//選択された友人へのメッセージのみ取得
										var message1 = data.slice(index,index+1);
										var message2 = messages.concat(message1);
										messages = message2;
									}
									viewModel.writtenByMe(messages);	//新しい配列で定義
								})
								
								$(".delete").on({
									mouseover : function(){
										$(this).css('cursor','pointer');
									},
									click : function(){
										var url = $("#deleteForm").attr("action");
										var $deleteButton = $(this)
										url = url + "/" +$(".id",$deleteButton.parent()).val() +"/";
										data = $("#deleteForm").serialize();
										delete_(url,data,function(){
											$deleteButton.parents("table").remove();
										})
									}
								})
							
								$(".edit").on({
									mouseover : function(){
										$(this).css('cursor','pointer')
									},
									click : function(){
										var url = $("#updateForm").attr("action");
										var $editButton = $(this) 
										url = url + "/" +$(".id",$editButton.parent()).val() +"/";
										location.href=url
									}
								})
								
								$(".icon").on({
									mouseover : function(){
										$(this).css('cursor','pointer')
									},
									click : function(){
							var url = $("#friendForm").attr("action");
							var $showButton = $(this) 
							url = url + "/" + $(".friendId",$showButton.parent()).val() +"/";
							if($(".friendId",$showButton.parent()).val() == $("#un").text()){
								location.href="/my"
							}else{
								location.href=url
							}
						}
								})
							})
						
							url = $("#arigatoForm").attr("action");
							data = $("#readByMeForm").serialize();
						
							get(url,data,function(data){
								var messages = new Array();
								$.map(data,function(value,index){
									if(value.fromUser.email == currentFriend){
										var message1 = data.slice(index,index+1);
										var message2 = messages.concat(message1);
										messages = message2;
									}
									viewModel.readByMe(messages);
								})
								
								$(".icon").on({
									mouseover : function(){
										$(this).css('cursor','pointer')
									},
									click : function(){
										var url = $("#friendForm").attr("action");
										var $showButton = $(this) 
										url = url + "/" + $(".friendId",$showButton.parent()).val() +"/";
										if($(".friendId",$showButton.parent()).val() == $("#un").text()){
											location.href="/my"
										}else{
											location.href=url
										}
									}
								})									
							})
						}
					})
				});
				
				function get(url,data,doneHandler){
					$.ajax({
						url: url,
						type:"get",
						data: data
					})
					.done(function(data, status, xhr){
						if (doneHandler == undefined){
							return;
						}
						doneHandler(data)
					})
					.fail(function( data, status, xhr){
						alert("fail" + data.responseText);
					})
				}
								
				function delete_(url,data,doneHandler){
					$.ajax({
						url: url,
						type:"DELETE",
						beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('#deleteForm input[name="_csrf"]').attr('value'))},
						data: data
					})
					.done(function(data, status, xhr){
						if (doneHandler == undefined){
							return;
						}
						doneHandler(data)
					})
					.fail(function( data, status, xhr){
						alert("fail" + data.responseText);
					})
				}
			
			})
			function AppViewModel() {
			    var self = this;
			    
			    // Editable data
			    self.arigatos = ko.observableArray([]);
			    self.writtenByMe = ko.observableArray([]);
   			    self.readByMe = ko.observableArray([]); 
			}
			function myViewModel() {
				var self = this;
				self.myfriends = ko.observableArray([]);
			}
			function friendViewModel() {
				var self = this;
				self.friendfriends = ko.observableArray([]);
			}
		</script>


<!-- 選択された友人のnameを受け取り -->
		<input type="hidden" id="friendpage" th:value="${friendName}" />

<!-- 選択された友人のアイコンを表示 -->
		<div id="friendface" data-bind="foreach: myfriends">
			<table>
				<td>
					<img data-bind="attr:{src: image.url}" style="max-height:5em" class="pull-left"></img><br />
					<p data-bind="text: name" />
				</td>
			</table>
		</div>

<!-- 選択された友人の友人一覧を表示 -->
		<div id="friendlist">
			<table>
			<p th:text="${friendName}+さんの友達" />
				<tr data-bind="foreach: friendfriends">
					<td class="face">
						<img data-bind="attr:{src: image.url}" style="max-height:3em" class="icon">
							<input type="hidden" class="friendId" data-bind="attr:{value: name}"/>
						</img><br />
						<span data-bind="text: name" />
					</td>
				</tr>
			</table>
		</div>

<!-- タブメニュー -->	
		<div id="tabmenu">
			<ul>
				<li id="tab_1" class="selected"><a href="#readByMe">あなたへのメッセージ</a></li>
				<li id="tab_2"><a href="#writtenByMe">あなたからのメッセージ</a></li>
			</ul>
		</div>

		<div id="line"></div>	<!-- 調整用 -->

		<div id="tabcontent">
			<div id="text_1">
				<div data-bind="foreach: readByMe">
					<table>
						<tr>
							<td>
								<table>
									<tr>
										<td><img data-bind="attr:{src: fromUser.image.url}" style="max-height:2em" class="icon">
											<input type="hidden" class="friendId" data-bind="attr:{value:fromUser.name}" />
										</img><br /><span data-bind="text: fromUser.name"></span></td>
										<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
										<td><img data-bind="attr:{src: toUser.image.url}" style="max-height:2em" class="icon">
											<input type="hidden" class="friendId" data-bind="attr:{value:toUser.name}" />						
										</img><br /><span data-bind="text: toUser.name"></span></td>
									</tr>
								</table>
								<p>【<span class="subject" data-bind="text: subject"></span>】</p>
								<p>&nbsp;&nbsp;<span data-bind="text: contents"></span></p>
								<div data-bind="foreach: images">
									<img data-bind="attr:{src: url}" style="max-height:320px" ></img>
								</div>
								<p> (<span class="formattedCreated" data-bind="text: formattedCreated"></span>) </p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<hr />
							</td>
						</tr>
					</table>
				</div> 
			</div> 

			<div id="text_2">
				<div data-bind="foreach: writtenByMe">
					<table>
						<tr>
							<td>
								<img th:src="@{/resources/img/trash.png}" style="max-height:3em" alt="削除" class="delete"></img>
								<img th:src="@{/resources/img/edit.png}" style="max-height:3em" alt="編集" class="edit"></img>
									<input type="hidden" class="id" data-bind="attr:{value:id}" />
							</td>
							<td>
								<table>
									<tr>
										<td><img data-bind="attr:{src: fromUser.image.url}" style="max-height:2em" class="icon">
											<input type="hidden" class="friendId" data-bind="attr:{value:fromUser.name}" />						
										</img><br /><span data-bind="text: fromUser.name"></span></td>
										<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
										<td><img data-bind="attr:{src: toUser.image.url}" style="max-height:2em" class="icon">
											<input type="hidden" class="friendId" data-bind="attr:{value:toUser.name}" />
										</img><br /><span data-bind="text: toUser.name"></span></td>
									</tr>
								</table>
								<p>【<span class="subject" data-bind="text: subject"></span>】</p>
								<p>&nbsp;&nbsp;<span data-bind="text: contents"></span></p>
								<div data-bind="foreach: images">
									<img data-bind="attr:{src: url}" style="max-height:320px" ></img>
								</div>
								<p> (<span class="formattedCreated" data-bind="text: formattedCreated"></span>) </p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<hr />
							</td>
						</tr>
					</table>
				</div> 
			</div> 
		</div>

		<form id="arigatoForm" th:action="@{/rest/arigato}" />
		<form id="writtenByMeForm" th:action="@{/rest/arigato}">
			<input type="hidden" name="type" value="wrote" />
		</form>
		<form id="arigatoForm" th:action="@{/rest/arigato}" />
		<form id="readByMeForm" th:action="@{/rest/arigato}">
			<input type="hidden" name="type" value="mine" />
		</form>
		<form id="updateForm" th:action="@{/update}" />
		<form id="deleteForm" th:action="@{/rest/arigato}" />
		<form id="friendForm" th:action="@{/friend}" />
	</div>
</body>
</html>