<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>main</title>
</head>
<body>
	<div layout:fragment="content">
		<script>
			var viewModel = new AppViewModel()
			$(document).ready(function(){
				ko.applyBindings(viewModel);
				var url = $("#arigatoForm").attr("action");
				get(url,'',function(data){
					viewModel.arigatos(data)
					$(".delete").on({
						mouseover : function(){
							$(this).css('cursor','pointer');
						},
						click : function(){
							var url = $("#deleteForm").attr("action");
							var $deleteButton = $(this)
							url = url + "/" +$(".id",$deleteButton.parent()).val() +"/";
							data = $("#deleteForm").serialize();
							delete_(url,data,function(){
								$deleteButton.parents("table").remove();
							})
						}
					})
					
					$(".edit").on({
						mouseover : function(){
							$(this).css('cursor','pointer')
						},
						click : function(){
							var url = $("#updateForm").attr("action");
							var $editButton = $(this) 
							url = url + "/" +$(".id",$editButton.parent()).val() +"/";
							location.href=url
						}
					})
					
					$(".icon").on({
						mouseover : function(){
							$(this).css('cursor','pointer')
						},
						click : function(){
							var url = $("#friendForm").attr("action");
							var $showButton = $(this) 
							url = url + "/" + $(".friendId",$showButton.parent()).val() +"/";
							if($(".friendId",$showButton.parent()).val() == $("#un").text()){
								location.href="/my"
							}else{
								location.href=url
							}
						}
					})
				})
			});
			
			function get(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"get",
					data:data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}
			
			function delete_(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"DELETE",
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('#deleteForm input[name="_csrf"]').attr('value'))},
					data:data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}
			function AppViewModel() {
			    var self = this;
			    
			    // Editable data
			    self.me = $("#currentUser").val()
			    self.arigatos = ko.observableArray([]);
			}
		</script>
		
		<div id="around">
		<div data-bind="foreach: arigatos">
			<table>
			<tr>
				<td>
					<span data-bind="if: fromUser.email == $parent.me">
						<img th:src="@{/resources/img/trash.png}" style="max-height:3em" alt="削除" class="delete"></img>
						<img th:src="@{/resources/img/edit.png}" style="max-height:3em" alt="編集" class="edit"></img>
							<input type="hidden" class="id" data-bind="attr:{value:id}" />
					</span>
				</td>
				<td>
					<table>
					<tr>
						<td>
						<img data-bind="attr:{src: fromUser.image.url}" style="max-height:2em" class="icon">
							<input type="hidden" class="friendId" data-bind="attr:{value:fromUser.name}" />
						</img><br /><span data-bind="text: fromUser.name"></span></td>
						<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
						<td><img data-bind="attr:{src: toUser.image.url}" style="max-height:2em" class="icon">
							<input type="hidden" class="friendId" data-bind="attr:{value:toUser.name}" />
						</img><br /><span data-bind="text: toUser.name"></span></td>
					</tr>
					</table>
					<p>【<span class="subject" data-bind="text: subject"></span>】</p>
					<p>&nbsp;&nbsp;<span data-bind="text: contents"></span></p>
					<div data-bind="foreach: images">
						<img data-bind="attr:{src: url}" style="max-height:320px" ></img>
					</div>
					<p> (<span class="formattedCreated" data-bind="text: formattedCreated"></span>) </p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr />
				</td>
			</tr>
			</table>
		</div> 
		</div> 

		<form id="arigatoForm" th:action="@{/rest/arigato}" />
		<form id="writtenByMeForm" th:action="@{/rest/arigato}">
			<input type="hidden" name="type" value="wrote" />
		</form>
		<form id="updateForm" th:action="@{/update}" />
		<form id="deleteForm" th:action="@{/rest/arigato}" />
		<form id="friendForm" th:action="@{/friend}" />
	</div>
</body>
</html>