<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>mypage</title>
</head>
<body>
	<div layout:fragment="content">
		<script>
			var viewModel = new AppViewModel()
			$(document).ready(function(){
				ko.applyBindings(viewModel);

				var url = $("#arigatoForm").attr("action");

				get(url,'',function(data){
					viewModel.arigatos(data)
				})

				url = $("#arigatoForm").attr("action");
				data = $("#writtenByMeForm").serialize();

				get(url,data,function(data){
					viewModel.writtenByMe(data)

					$(".delete").click(function(){
						var url = $("#deleteForm").attr("action");
						var $deleteButton = $(this) 
						url = url + "/" +$(".id",$deleteButton.parent()).val() +"/";
						data = $("#deleteForm").serialize();
						delete_(url,data,function(){
							$deleteButton.parents("table").remove()
						})
					})
					$(".edit").click(function(){
						var url = $("#updateForm").attr("action");
						var $editButton = $(this) 
						url = url + "/" +$(".id",$editButton.parent()).val() +"/";
						location.href=url
					})
				})
			});
			
			function get(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"get",
					data:data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}
			
			function delete_(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"DELETE",
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('#deleteForm input[name="_csrf"]').attr('value'))},
					data:data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}

			function AppViewModel() {
			    var self = this;
			    
			    // Editable data
			    self.arigatos = ko.observableArray([]);
			    self.writtenByMe = ko.observableArray([]);
			}
		</script>
		
		<div id="writtenByMe">
		<div data-bind="foreach: writtenByMe">
			<table>
			<tr>
				<td>
					<img th:src="@{/resources/img/trash.png}" style="max-height:3em" alt="削除" class="delete"></img>
					<img th:src="@{/resources/img/edit.png}" style="max-height:3em" alt="編集" class="edit"></img>
					<input type="hidden" class="id" data-bind="attr:{value:id}" />
				</td>
				<td>
					<table>
					<tr>
						<td><img data-bind="attr:{src: fromUser.image.url}" style="max-height:2em" ></img><br /><span data-bind="text: fromUser.name"></span></td>
						<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
						<td><img data-bind="attr:{src: toUser.image.url}" style="max-height:2em" ></img><br /><span data-bind="text: toUser.name"></span></td>
					</tr>
					</table>
					<p>【<span data-bind="text: subject"></span>】</p>
					<p>&nbsp;&nbsp;<span data-bind="text: contents"></span></p>
					<div data-bind="foreach: images">
						<img data-bind="attr:{src: url}" style="max-height:320px" ></img>
					</div>
				</td>
			</tr>
			</table>
			
			<hr />
		</div> 
		</div> 

		<form id="arigatoForm" th:action="@{/rest/arigato}" />
		<form id="writtenByMeForm" th:action="@{/rest/arigato}">
			<input type="hidden" name="type" value="wrote" />
		</form>
		<form id="updateForm" th:action="@{/update}" />
		<form id="deleteForm" th:action="@{/rest/arigato}" />
	</div>
</body>
</html>