<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>update</title>
</head>
<body>
	<div layout:fragment="content">
		<script>
			
			$(document).ready(function(){
				var url = $("#arigatoForm").attr("action");
				get(url,'',function(data){
					ko.applyBindings(new AppViewModel(data));
				})
		
				$("#submit").click(function(){
					var url = $("#arigatoForm").attr("action");
					var method = $("#arigatoForm").attr("method");
					var data = $("#arigatoForm").serialize();
					$.ajax({
						url: url,
						type:method,
						data:data
					})
					.done(function(data, status, xhr){
						$('#result').text("更新されました!");
						//alert("更新されました!");
						//location.href="/"
					})
					.fail(function( data, status, xhr){
						var error = eval("(" + data.responseText + ")");
						if(error.message.indexOf("Validation failed") == 0){
							$('#result').text("");
							$('#errors').text("入力エラーがあります。ご確認ください");
							$.each(error.errors,function(){
								$('#'+this.field+'_error').text(this.defaultMessage);
							});
						}else{
							alert("fail" + data.responseText);
						}
					})
				});
			});
			
			function get(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"get",
					data:data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}
			function AppViewModel(arigato) {
			    var self = this;
			    
			    // Editable data
			    self.arigato = arigato;
			}
		</script>
		
		<div id="result"></div>
		<div id="errors" class="error"></div>
		<form id="arigatoForm" method="post" th:action="@{'/rest/arigato/'+${arigatoId}}">
			<input type="hidden" name="toUserId" data-bind="attr:{value: arigato.toUser.email}" />
			<table>
			<tr>
				<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
				<td><img data-bind="attr:{src: arigato.toUser.image.url}" style="max-height:2em" ></img><br /><span data-bind="text: arigato.toUser.name"></span></td>
			</tr>
			</table>
			<br />
			<table th:with="currentUser=${#httpServletRequest.userPrincipal?.principal}">
			<tr><td>件名</td><td><input type="text" id="subject" name="subject" data-bind="attr:{value: arigato.subject}" /><span id="subject_error" class="error" /></td></tr>
			<tr><td>感謝のことば</td><td><input type="text" id="message" name="message"  data-bind="attr:{value: arigato.contents}"/><span id="message_error" class="error" /></td></tr>
			<tr><td></td><td>
				<div data-bind="foreach: arigato.images">
					<img data-bind="attr:{src: url}" style="max-height:120px" ></img>
				</div>
			</td></tr>
			<tr><td><input type="button" id="submit" value="更新" /></td><td></td></tr> 
			</table>
		</form>
	</div>
</body>
</html>